body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

.header-section {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 100px;
    background-color: #1F2937;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    font-size: 24px;
    color: #f9faf8;
    padding: 10px;
}

.header-right {
    display: flex;
    gap: 20px;
    padding: 10px;
}

.header-right a, .hero-subtext {
    font-size: 18px;
    text-decoration: none;
    color: #E5E7EB;
    margin: 10px 0;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding: 100px 0;
    gap: 50px
}

.intro-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 500px;
}

.hero {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-top: 0;
    margin-bottom: 0;
}

.intro-right {
    display: flex;
    align-items: center;
}

button {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
}

.info-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

.card-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 50px 50px 50px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card p {
    max-width: 200px;
    text-align: center;
    margin: 5px;
}

.quote-section {
    background-color: #E5E7EB;
    padding: 50px 250px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.author {
    font-weight: bold;
    text-align: right;
    padding-right: 50px;
}

.cta-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 100%;
}

.cta-interior {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 50%;
    width: 50%;
    background-color: #3882F6;
}

.cta-left {
    color: white;
    flex: 2;
    padding-left: 50px;
}

.cta-header {
    font-weight: bold;
    margin-bottom: 0;
}

.cta-right {
    flex: 1;
}

.cta-right button {
    border-color: white;
}

.footer-section {
    background-color: #1F2937;
    color: white;
    text-align: center;
    padding: 50px;
}